@include reset();

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.woff2') format('woff2'),
    url('../fonts/CenturyGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
    url('../fonts/CenturyGothic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic-Italic.woff2') format('woff2'),
    url('../fonts/CenturyGothic-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}




html {
  font-size: 7.265722379603399vw;

}

a {
  outline: none;
}

// font-family: FontAwesome;

body {
  // display: flex;
  // flex-direction: column;
  color: $main-color;
  background-color: #fff;
  font-size: px(12);
  font-family: 'Century Gothic';
  font-weight: normal;
  overflow: hidden;
  line-height: 1.5;
}



// .wrapper {
//   flex-grow: 1;
// }


// .container {
//   @include container();
// }

img {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.video {
  position: relative;

  overflow: hidden;

  height: 0;
  padding-top: 30px;
  padding-bottom: 56.25%;

  /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}

.container {
  // max-width: px(1200);
  // margin: 0 auto;
  padding: px(30);
}



.header {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  padding: px(30);
  width: 100%;
  &-contact {
    flex-grow: 1;
    margin-left: px(150);


    ul {
      display: flex;
      align-items: center;
      position: relative;
      &::after {
        content: '';
        display: block;
        height: px(0.8);
        margin-left: px(32);
        flex-grow: 1;
        background-color: $main-color;
      }

      li {
        font-size: px(11);
        text-transform: uppercase;
        position: relative;
        &:not(:first-child) {
          margin-left: px(76);
          &::before {
            content: '/';
            position: absolute;
            left: -25%;
          }
        }

        a {
          color: $main-color;
          font-weight: bold;
        }
      }
    }

  }
}



.header-location {
  display: flex;
  background: #fff;
  height: px(40);
  width: px(40);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-left: px(32);
  a {
    background: url('../img/location.svg') no-repeat center center;
    width: px(12);
    background-size: cover;
    height: px(16);
    display: block;

  }
}

.header-logo img {
  display: block;
  width: px(200);
  height: px(40);
}

.main-title {
  font-size: px(28);
  font-weight: normal;
  text-transform: uppercase;
}

.date {
  font-size: px(11);
  font-weight: bold;
  text-transform: uppercase;
}

.modal-link {
  color: $yellow;
  font-size: px(16);
  font-weight: bold;
  letter-spacing: px(1.5);
  position: relative;
  // margin-left: px(20);
  // display: flex;
  // align-items: center;
  &::before {
    color: #16284A;
    // margin-right: px(20);
    // display: block;
    // position: absolute;
    // left: px(-20);
    // transform: translateY(-50%);
    // top: 50%;
    // content: '+';
    // margin-top: px(5);
    font-size: px(20);
  }
}

.date {
  margin-bottom: px(10);
}

.main-title {
  margin-bottom: px(45);
  max-width: px(520);
}

.new-autograf {
  display: flex;
  align-items: center;
  &::after {
    content: '';
    background-color: $main-color;
    margin-left: px(15);
    width: px(84);
    height: px(1);
  }
}

.center {
  position: absolute;
  top: 50%;
  left: px(160);
  transform: translateY(-50%);

}

#map {
  display: block;
  height: 100%;
  width: 100%;


}

.skew-overlay {
  transform: skew(-20deg);
  position: relative;
  overflow: hidden;
  }

  .map {
    width: px(1000);
    height: 100vh;
    transform: skew(20deg);
    position: relative;
    left: px(-150);


  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   background-color: #fff;

  // }
}



.main {
  display: flex;
}

.main-row {
  display: flex;
}

.left-col {
  // width: 60%;
  width: px(800);
   background: url('../img/a_big.svg') no-repeat right 45%;

   background-size: px(200) px(350);
}

.right-col {
  width: px(800);
  margin-right: px(-200);
  position: relative;
}

.bottom-page {
  display: flex;
  position: absolute;
  align-items: center;
  bottom: px(20);
  left: px(30);

  img {
    width: px(72);
    height: px(25);
  }
}

.social {
  display: flex;
  align-items: center;
  margin-left: px(88);
  a {
    &:not(:first-child) {
      margin-left: px(50);
    }
  }
  img {
    width: px(20);
    height: px(15);
    display: block;
  }
}

.docs {
  margin-left: px(253);
  font-size: px(11);
  color: $main-color;
  font-weight: bold;

  a {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative;
    letter-spacing: px(0.34);
    font-weight: bold;
    &::before {
      content: '+';
      font-weight: bold;
      margin-top: px(1);
      margin-right: px(15);
    }
  }

}


.overlay-modal {
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 10;
  background-color: rgba(#2a3a5a, 0.8);
  &.modal-open {
    visibility: visible;
    opacity: 1;
    .modal {
      transform: translate(-50%, -50%);
    }
  }
}

.modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  transition: 0.3s;
  width: 80%;
  height: 50vh;
  left: 50%;
  transform: translate(-50%, -40%);

}

.title-form {
  color: $main-color;
  text-transform: uppercase;
}

.modal-close {
  position: absolute;
  right: px(15);
  top: px(15);
  background: url('../img/if_basics-22_296812.svg') no-repeat center center;
  width: px(20);
  height: px(20);
}