@include reset();

input {
  border: none;
  border-bottom: px(1) solid $main-color;
  // box-shadow: none;
  outline: none;
  font-size: px(16);
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: px(1.5);
  color: #16284a;
  padding-bottom: px(10) !important;
}



html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.woff2') format('woff2'),
    url('../fonts/CenturyGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
    url('../fonts/CenturyGothic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic-Italic.woff2') format('woff2'),
    url('../fonts/CenturyGothic-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}




html {
  font-size: 6.94vw;

}

a {
  outline: none;
}

// font-family: FontAwesome;

body {
  // display: flex;
  // flex-direction: column;
  color: $main-color;
  background-color: #fff;
  font-size: px(12);
  font-family: 'Century Gothic';
  font-weight: normal;
  overflow: hidden;
  line-height: 1.5;
}



// .wrapper {
//   flex-grow: 1;
// }


// .container {
//   @include container();
// }

img {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.video {
  position: relative;

  overflow: hidden;

  height: 0;
  padding-top: 30px;
  padding-bottom: 56.25%;

  /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}

.container {
  // max-width: px(1200);
  // margin: 0 auto;
  padding: px(30);
}

a:active {
  color: $main-color;
}

.docs a {
  color: $main-color;
}



.header {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 6;
  box-sizing: border-box;
  padding: px(30);
  width: 100%;
  &-contact {
    flex-grow: 1;
    margin-left: px(150);


    ul {
      display: flex;
      align-items: center;
      position: relative;
      &::after {
        content: '';
        display: block;
        height: px(0.8);
        margin-left: px(32);
        flex-grow: 1;
        background-color: $main-color;
      }

      li {
        font-size: px(11);
        text-transform: uppercase;
        position: relative;
        &:not(:first-child) {
          margin-left: px(76);
          &::before {
            content: '/';
            position: absolute;
            left: -25%;
          }
        }

        a {
          color: $main-color;
          font-weight: bold;
        }
      }
    }

  }
}



.header-location {
  cursor: pointer;
  display: flex;
  background: #fff;
  height: px(40);
  width: px(40);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-left: px(32);
  a {
    background: url('../img/location.svg') no-repeat center center;
    width: px(12);
    background-size: cover;
    height: px(16);
    display: block;

  }

  &.icon-map-close {
    a {
      background: url('../img/close.svg') no-repeat center center;
    }
  }
}

.header-logo img {
  display: block;
  width: px(200);
  height: px(40);
}

.main-title {
  font-size: px(28);
  font-weight: normal;
  text-transform: uppercase;
}

.date {
  font-size: px(11);
  font-weight: bold;
  text-transform: uppercase;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: px(50);
  margin: 0 px(-32);

  .form-col {

    width: 100%;
    margin: 0 px(32);
    position: relative;
    cursor: pointer;
    &.filled {
      label {
        top: px(-20);
        font-size: px(11);
        letter-spacing: 0.3px;
        color: #dddad7;
      }

     .base-tel {
       display: block;
     }
    }
    input {
      display: block;
      width: 100%;
      padding: px(5);
    }
  }
}

.label-tel {
  // padding-left: px(40);
}

.tel-input {
  padding-left: px(40) !important;
}

.base-tel {
   display: none;
  position: absolute;
  top:px(6);
  left: 0;
  // font-weight: bold;
  color: #debfa5;
}

input:focus + label {
  top: px(-20);
  font-size: px(11);
  letter-spacing: 0.3px;
  color: #dddad7;
}

input:focus + label + span {
  display: block;
}

input:focus {
  border-bottom: px(1) solid #debfa5;
}


.icon-plus {
  padding-left: px(30);
  background: url('../img/plus-solid.svg') no-repeat center left;
  background-size: px(12) px(12);

}

label {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  font-size: px(14);
  line-height: 1;
  letter-spacing: px(1.5);
  transition: top 0.3s;
  display: block;
  width: 100%;
  top: px(6);
}

.modal-send-content {
  text-align: center;
  .modal-title {
    margin-top: px(129);
  }
}

.ok-content {
  width: px(827);
  margin: 0 auto;
  line-height: 2;
  font-size: px(16);

}

.modal-link {
  color: $yellow;
  font-size: px(16);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: px(1.5);
  position: relative;
  // margin-left: px(20);
  // display: flex;
  transition: 0.3s;
  // align-items: center;
  &::before {
    color: #16284A;
    // margin-right: px(20);
    // display: block;
    // position: absolute;
    // left: px(-20);
    // transform: translateY(-50%);
    // top: 50%;
    // content: '+';
    // margin-top: px(5);
    font-size: px(20);
  }

  &:hover {
    color: $main-color;
  }
}

.date {
  margin-bottom: px(10);
}

.main-title {
  margin-bottom: px(45);
  max-width: px(520);
}

.new-autograf {
  display: flex;
  align-items: center;
  &::after {
    content: '';
    background-color: $main-color;
    margin-left: px(15);
    width: px(84);
    height: px(1);
  }
}

.img-gallery {
  display: block;
  transition: 0.3s;
  background: url('../img/main-photo.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.center {
  position: absolute;
  top: 50%;
  left: px(160);
  transform: translateY(-50%);

}

#map {
  display: block;
  height: 100%;
  width: 100%;


}

.skew-overlay {
  transform: skew(-20deg);
  position: relative;
  overflow: hidden;
  }

  .skew-overlay-content {
    width: px(1000);
    height: 100vh;
    transform: skew(20deg);
    position: relative;
    left: px(-150);


  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   background-color: #fff;

  // }
}



.main {
  display: flex;
}

.main-row {
  display: flex;
}

.left-col {
  // width: 60%;
  width: px(800);
  //  background: url('../img/a_big.svg') no-repeat right 45%;
  //  background-size: px(200) px(350);
}

.main-row {
  position: relative;
}


.forms {
  width: px(800);
  margin: 0 auto;
  padding-top: px(80);


}

.a-icon {
  position: absolute;
  top: 50%;
  left: 5.93rem;
  z-index: 2;
  width: 3rem;
  transform: translateY(-50%);
  height: 3rem;
  background: url(../img/group.png) no-repeat center center;
  -webkit-background-size: contain;
  background-size: contain;
}

// .a-icon-bluer {
//     display: block;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     position: absolute;
//     z-index: 1;
//     width: 2.7rem;
//     // transform: translateY(-50%);
//     height: 3.5rem;
//     background: url('../img/a_blured.png') no-repeat center center;
//     -webkit-background-size: contain;
//     background-size: contain;

// }


.docs-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  li {
    width: 33.3%;
    padding: 0 px(32);
    margin-bottom: px(25);
  }
}

.docs-item {
  // opacity: 0.5;
  background-color: #F6F5F4;
  display: flex;

  overflow: hidden;
  flex-direction: column;
  align-items: center;
  font-weight: normal;
  padding: px(48) px(30);
  color: #16284a;
  line-height: 1.45;
  letter-spacing: px(0.3);
  transition: 0.3s;
  &:hover {
    transform: scale(1.05);
  }
  p {
    text-align: center;
    padding: 0 px(55);
  }

  img {
    display: block;
    margin-bottom: px(10);
    width: px(25);
    height: px(30);
  }


}



.right-col {
  width: px(800);
  margin-right: px(-200);
  position: relative;
  #map {

    display: none;
  }
  &.open-map {

    .skew-overlay {
      z-index: 5;
    }

    #map {
      display: block;
    }
    .img-gallery {
      display: none;
    }
  }
}

.bottom-page {
  display: flex;
  position: absolute;
  align-items: center;
  bottom: px(10);
  left: px(30);

  img {
    width: px(72);
    height: px(25);
  }
}

.social {
  display: flex;
  align-items: center;
  margin-left: px(88);
  a {
    &:not(:first-child) {
      margin-left: px(50);
    }
  }
  img {
    width: px(20);
    height: px(15);
    display: block;
  }
}

.docs {
  margin-left: px(253);
  font-size: px(11);
  color: $main-color;
  font-weight: bold;

  a {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative;
    letter-spacing: px(0.34);
    font-weight: bold;
    &::before {
      content: '+';
      font-weight: bold;
      margin-top: px(1);
      margin-right: px(15);
    }
  }

}


.overlay-modal {
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 10;
  background-color: rgba(#2a3a5a, 0.8);
  &.modal-open {
    visibility: visible;
    opacity: 1;
    .modal {
      transform: translate(-50%, -50%);
    }
  }
}

.modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  overflow-y: auto;
  transition: 0.3s;
  padding: px(60) px(60);
  width: px(1200);
  height: px(600);
  left: 50%;
  transform: translate(-50%, -40%);

}

.title-form {
  color: $main-color;
  text-transform: uppercase;

}

.modal-title {
  margin-bottom: px(36);
  text-transform: uppercase;
}


.modal-btn {
  cursor: pointer;
}

.modal-close {
  position: absolute;
  right: px(15);
  top: px(15);
  cursor: pointer;
  background: url('../img/if_basics-22_296812.svg') no-repeat center center;
  width: px(20);
  height: px(20);
}

.modal-title {
  font-size: px(28);
}

.btn-inner {
  text-align: center;
  padding-top: 20px;
  button {

    background-color: $main-color;
    border: none;
    padding: px(24) px(88) px(24) px(88);
    color: #fff;
    text-transform: uppercase;

  }
}


// display: block;
//     width: 100%;
//     cursor: pointer;
//     padding: 0;
//     position: absolute;
//     left: .19rem;
//     top: .17rem;
//     font-size: .12rem;
//     font-weight: bold;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: 1.83;
//     letter-spacing: .014rem;
//     color: #111815;
//     text-transform: uppercase;
//     -webkit-transform-origin: 0 100%;
//     transform-origin: 0 100%;
//     transition: top .5s ease, opacity .5s ease, -webkit-transform .5s ease;
//     transition: top .5s ease, opacity .5s ease, transform .5s ease;
//     transition: top .5s ease, opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
//     pointer-events: none;
// }