@include reset();




html {
  box-sizing: border-box;
  height: 100vh;
  font-size: 6.94vw;
  overflow: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Century Gothic';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/CenturyGothic.woff2') format('woff2'),
  url('../fonts/CenturyGothic.woff') format('woff');
}

@font-face {
  font-family: 'Century Gothic';
  font-weight: bold;
  font-style: normal;

  src: url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
  url('../fonts/CenturyGothic-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Century Gothic';
  font-weight: normal;
  font-style: italic;

  src: url('../fonts/CenturyGothic-Italic.woff2') format('woff2'),
  url('../fonts/CenturyGothic-Italic.woff') format('woff');
}


input {
  padding-bottom: px(10) !important;

  letter-spacing: px(1.5);
  text-transform: uppercase;

  color: #16284a;
  border: none;
  border-bottom: px(1) solid $main-color;

// box-shadow: none;
  outline: none;

  font-size: px(16);
  line-height: 1;
}




a {
  outline: none;
}

// font-family: FontAwesome;

body {
  overflow: hidden;
  // display: flex;
  // flex-direction: column;
  min-height: 100vh;
  color: $main-color;
  background-color: #fff;

  font-family: 'Century Gothic';
  font-size: px(12);
  font-weight: normal;
  line-height: 1.5;
}



img {
  max-width: 100%;
  height: auto;
}





.container {
  padding: px(30);
}

a:active {
  color: $main-color;
}

.docs a {
  color: $main-color;
}

.load {
  .date {
    transform: translateX(0);

    opacity: 1;
  }

  .center .btn-docs {
    opacity: 1;
  }

  .header {
    transform: translateY(0);

    ul {
      &::after {
        flex-grow: 1;
      }
    }
  }

  .header-location {
    transition-delay: 7.5s;
    transform: translateY(0);
  }

  .main-title {
    transform: translateY(0);
    transition-delay: 1s;
    opacity: 1;
  }

  .bottom-page {
    transform: translateY(0);
  }

  .skew-overlay {
    &::after {
      width: 0;
    }
  }

  .social li {
    transform: translateY(0);
  }

  .modal-btn.btn-docs {
    transform: translateY(0);
  }

  .new-autograf::after {
    width: px(84);
  }

  .a-icon {
    opacity: 1;
    // transform: scale(1.5);
  }

  .center .modal-btn.btn-docs {
    transition-delay: 3s;
  }
}

.center .btn-docs {
// transition-delay: 1s;
  transition: opacity 1s;

  opacity: 0;
}

// end

.modal-btn.btn-docs {
  transition: transform 1s, opacity 1s;
  transition-delay: 5.3s;
  transform: translateY(1rem);
}


.header {
  position: absolute;
  z-index: 6;

  display: flex;

  box-sizing: border-box;
  width: 100%;
  padding: px(30);

  transition: 1s;
  transform: translateY(px(-100));

  align-items: center;
  &-contact {
    margin-left: px(150);

    flex-grow: 1;


    ul {
      position: relative;

      display: flex;

      align-items: center;
      &::after {
        display: block;

        height: px(1);
        margin-left: px(32);

        content: '';
        transition: flex-grow 2s;
        transition-delay: 6s;

        background-color: $main-color;

        flex-grow: 0;
      }

      li {
        position: relative;

        text-transform: uppercase;

        font-size: px(11);
        &:not(:first-child) {
          margin-left: px(76);
          &::before {
            position: absolute;
            left: -25%;

            content: '/';
          }
        }

        a {
          color: $main-color;

          font-weight: bold;
        }
      }
    }
  }
}



.header-location {
  display: flex;

  width: px(40);
  height: px(40);
  margin-left: px(32);

  cursor: pointer;
  transition: transform .7s;
  transform: translateY(-1rem);

  border-radius: 50%;
  background: #fff;

  align-items: center;
  justify-content: center;
  a {
    display: block;

    width: px(12);
    height: px(16);

    // transition: .3s;

    background: url('../img/location.svg') no-repeat center center;
    background-size: cover;
  }

  &:hover {
    transform: scale(1.5);
  }

  &.icon-map-close {
    a {
      background: url('../img/close.svg') no-repeat center center;
    }
  }
}

.header-logo img {
  display: block;

  width: px(200);
  height: px(40);
}

.main-title {
  transition: transform 1s, opacity 1s;

  transform: translateY(px(20));
  text-transform: uppercase;

  opacity: 0;

  font-size: px(28);
  font-weight: normal;
}

.date {
  transition: opacity .5s, transform 1s;
  transition-delay: 2s;
  transform: translateX(.5rem);
  text-transform: uppercase;

  opacity: 0;

  font-size: px(11);
  font-weight: bold;
}

.form-group {
  display: flex;

  margin: 0 px(-32);
  margin-bottom: px(50);

  justify-content: space-between;

  .form-col {
    position: relative;

    width: 100%;
    margin: 0 px(32);

    cursor: pointer;
    &.filled {
      label {
        top: px(-20);

        letter-spacing: .3px;

        color: #dddad7;

        font-size: px(11);
      }

      .base-tel {
        display: block;
      }
    }
    input {
      display: block;

      width: 100%;
      padding: px(5);
    }
  }
}


.tel-input {
  padding-left: px(50) !important;
}

.error-massage {
  position: absolute;
  top: 100%;
  left: 0;

  color: #e32737;
}

.base-tel {
  position: absolute;
  top: px(3);
  left: 0;

  display: none;

  letter-spacing: px(1.5);

  color: #debfa5;

  font-size: px(16);
}

input:focus + label {
  top: px(-20);

  letter-spacing: .3px;

  color: #dddad7;

  font-size: px(11);
}

input:focus + p + label {
  top: px(-20);

  letter-spacing: .3px;

  color: #dddad7;

  font-size: px(11);
}

input:focus + label + span,
input:focus + p + label + span {
  display: block;
}

input:focus {
  border-bottom: px(1) solid #debfa5;
}


.icon-plus {
  padding-left: px(30);

  background: url('../img/plus-solid.svg') no-repeat center left;
  background-size: px(12) px(12);
}



label {
  position: absolute;
  top: px(6);
  left: 0;

  display: block;

  width: 100%;

  transition: top .3s;
  letter-spacing: px(1.5);
  text-transform: uppercase;

  font-size: px(14);
  line-height: 1;
}

.modal-send-content {
  text-align: center;
  .modal-title {
    margin-top: px(129);
  }
}

.ok-content {
  width: px(827);
  margin: 0 auto;

  font-size: px(16);
  line-height: 2;
}

.modal-link {
  position: relative;

// margin-left: px(20);
  // display: flex;

  transition: .3s;
  letter-spacing: px(1.5);
  text-transform: uppercase;

  color: #e32737;

  font-size: px(16);
  font-weight: bold;
  // align-items: center;
  &::before {
    color: #16284a;

// margin-right: px(20);
    // display: block;
    // position: absolute;
    // left: px(-20);
    // transform: translateY(-50%);
    // top: 50%;
    // content: '+';
    // margin-top: px(5);

    font-size: px(20);
  }
}

.date {
  margin-bottom: px(10);
}

.main-title {
  max-width: px(520);
  margin-bottom: px(45);
}

.new-autograf {
  display: flex;

  align-items: center;
  &::after {
    width: 0;
    height: px(1);
    margin-left: px(15);

    content: '';
    transition: width 1s;
    transition-delay: 2s;

    background-color: $main-color;
  }
}

.main-button {
  padding: .24rem .88rem .24rem .88rem;

  letter-spacing: px(.3);
  text-transform: uppercase;

  color: #fff;
  border: none;
  background-color: #16284a;
  &:hover {
    background-color: #345594;
  }
}






.img-gallery {
  display: block;

  height: 100vh;

  transition: 1s;

  opacity: 1;
  background: url('../img/main-photo.jpg') no-repeat center center;
  background-size: cover;
}

.center {
  position: absolute;
  top: 50%;
  left: px(160);

  transform: translateY(-50%);
}




#containers {
  position: absolute;
  top: 0;
  left: 0;
//border: solid 1px red;

  display: flex;
  overflow: hidden;

  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: center;
}


.bg {
  position: absolute;

  overflow: hidden;

  width: 100%;
  height: 100%;
}
.bgimg {
  position: absolute;
  top: -10%;
  left: -10%;

  width: 100%;
  height: 120%;

  transition: opacity 1s;

  opacity: 1;
  background: url('../img/main-photo.jpg') no-repeat 25% center;
  background-size: cover;
}

// .img {
//   background: url('../img/main-photo.jpg') no-repeat center center;
//   background-size: cover;

//   display: block;
//   width: 100%;
//   height: 100vh;
// }

#map {
  position: relative;
  z-index: 4;

  transition: opacity .5s;

  opacity: 0;
  // display: block;
  // height: 100%;
  // width: 100%;
}

.skew-overlay {
  position: relative;

  overflow: hidden;

  transform: skew(-20deg);

  &::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    transition: width 2s;
    transition-delay: 1s;

    background-color: #fff;
  }
}

.skew-overlay-content {
  position: relative;
  left: px(-150);

  width: px(1000);
  height: 100vh;

  transform: skew(20deg);
  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   background-color: #fff;

  // }
}



.main {
  display: flex;
}

.main-row {
  display: flex;
}

.left-col {
  // width: 60%;
  width: px(800);
  //  background: url('../img/a_big.svg') no-repeat right 45%;
  //  background-size: px(200) px(350);
}

.main-row {
  position: relative;
}


.forms {
  width: px(800);
  margin: 0 auto;
  padding-top: px(80);
}

.a-icon {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 5.93rem;
  // left: 6.2rem;

  width: 3rem;
  height: 3rem;

  transition: opacity 1s;
  transition-delay: 8s;
  transform: translateY(-50%);

  opacity: 0;
  background: url(../img/group.png) no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain;
}



.docs-list {
  display: flex;

  width: 100%;

  flex-wrap: wrap;
  // margin: 0 px(-32);
  li {
    width: calc(33.3% - .64rem);
    min-height: px(170);
    margin: 0 px(32);

    margin-bottom: px(25);

    transition: .3s;

    background-color: #f6f5f4;
    &:hover {
      transform: translateY(-10px);
    }
  }
}

.docs-item {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: px(48) px(30);

  letter-spacing: px(.3);

  color: #16284a;

  font-weight: normal;
  line-height: 1.45;

  align-items: center;

  p {
    padding: 0 px(25);

    text-align: center;
  }

  img {
    display: block;

    width: px(25);
    height: px(30);
    margin-bottom: px(10);
  }
}



.right-col {
  position: relative;

  width: px(800);
  margin-right: px(-200);

  &.open-map {
    .skew-overlay {
      z-index: 5;
    }

    #map {
      width: 100%;
      height: 100%;

      opacity: 1;
    }
    .img-gallery {
      opacity: 0;
    }

    .bgimg {
      opacity: 0;
    }
  }
}

.bottom-page {
  position: absolute;
  bottom: px(10);
  left: px(30);

  display: flex;

  transition: transform 1s;
  transition-delay: 3s;
  transform: translateY(px(100));

  align-items: center;

  img {
    width: px(72);
    height: px(25);
  }
}

.social {
  display: flex;

  margin-left: px(88);

  align-items: center;

  li {
    margin-left: px(40);

    transition: transform .5s;
    transform: translateY(1rem);
    &:first-child {
      margin-left: 0;
    }
    &:nth-child(1) {
      transition-delay: 4s;
    }
    &:nth-child(2) {
      transition-delay: 4.5s;
    }
    &:nth-child(3) {
      transition-delay: 5s;
    }
  }
  a {
    display: block;
  }
  i {
    display: block;

    width: px(20);
    height: px(15);

    transition: .3s;

    color: $main-color;

    font-size: px(18);
  }
}



.btn-docs::after {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 0;
  height: 1px;

  content: '';
  transition: .3s;

  opacity: 1;
  background: $main-color;
}

.btn-docs:hover {
  &::after {
    width: 100%;
  }
}



.fa:hover {
  &::before {
    color: #228be6;
  }
}

.fa-youtube:hover {
  &::before {
    color: #f00;
  }
}

.docs {
  margin-left: px(153);

  color: $main-color;

  font-size: px(11);
  font-weight: bold;

  a {
    position: relative;

    display: flex;

    letter-spacing: px(.34);
    text-transform: uppercase;

    font-weight: bold;

    align-items: center;
    &::before {
      margin-top: px(1);
      margin-right: px(15);

      content: '+';

      font-weight: bold;
    }
  }
}


.overlay-modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  visibility: hidden;

  width: 100%;
  height: 100%;


  opacity: 0;
  background-color: rgba(#2a3a5a, .8);
  transition: opacity .3s, visibility 0.3s;
  &.modal-open {
    visibility: visible;
    opacity: 1;
    .modal {
      transform: translate(-50%, -50%);
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  overflow-y: auto;

  width: px(1200);
  height: px(600);
  padding: px(60) px(60);

  // transition: transform 0.3s, top 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transform: translate(-50%, -40%);

  background-color: #fff;
}

.title-form {
  text-transform: uppercase;

  color: $main-color;
}

.modal-title {
  margin-bottom: px(36);

  text-transform: uppercase;
}


.modal-btn {
  cursor: pointer;
  transition: background-color .3s;
}


.modal-close {
  position: absolute;
  top: px(15);
  right: px(15);

  width: px(20);
  height: px(20);

  cursor: pointer;

  background: url('../img/if_basics-22_296812.svg') no-repeat center center;
}

.modal-title {
  font-size: px(28);
}

.btn-inner {
  padding-top: 20px;

  text-align: center;

}


.btn-inner-close {
  padding-top: px(40);
}