@media #{$xl} { // 1120

  .right-col {
    width: 9rem;
    margin-right: -3rem;
  }

  .docs {
    margin-left: 1.2rem;
  }
}

@media #{$lg} { // 835px
  .docs {
    margin-left: .8rem;
  }
}

@media #{$md} { // 768px

}

@media #{$sm} { // 578px
  html {
    height: auto;
    min-height: 100vh;
    font-size: 25.94vw;;
  }

  body {
    overflow: visible;
  }

  .page {
    height: 100vh;
    min-height: 600px;
  }

  .main-row {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .center {
    position: static;
    transform: none;
  }

  .left-col,
  .right-col {
    width: 100%;
  }

  .right-col {
    margin-top: 65px;
  }

  .left-col {
    order: 5;

    .container {
      padding: 0;
      position: static;
    }
  }

  .ok-content {
    width: auto;
    margin-bottom: 35px;
  }

  .skew-overlay-content {
    width: 7rem;
  }

  .bgimg {
    background-position: left 5%;
  }

  .modal-send-content .modal-title {
    margin-top: 0;
  }

  .error-massage {
    font-size: 12px;
  }

  .load .header-location {
    transition-delay: 2s;
  }

  .modal-send {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
    border-top: 1px solid #EDEBE8;

    span {
      display: block;
      font-size: 16px;

      padding: 24px 30px;

    }

    .icon-plus {
      background: url(../img/plus-solid.svg) no-repeat 40px center;
      background-size: 20px 20px;
    }


  }


  .skew-overlay {
    transform: none;
  }

  .skew-overlay-content {
    height: 320px;
    transform: none;
  }

  .a-icon {
    display: none;
  }

  .date {
    font-size: 11px;
    font-weight: bold;
    padding: 15px 30px 0 30px;
  }

  .bottom-page {
    display: none;
  }

  .header {
    position: absolute;
    top: 0;
    height: 65px;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0;
  }

  .overlay-modal {
    padding: 0 15px;
  }

  .modal {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    // max-width: 560px;
  //  margin: 0 30px;
    height: auto;
    padding: 35px 20px;
  }

  .btn-docs::after {
    content: none;
  }

  input {
    border-width: 1px;
  }

  .form-group {
    flex-direction: column;
    // margin-bottom: 0;
    // margin-bottom: 0;
    margin: 0;
  }

  .form-col {
    margin: 0 !important;
    margin-bottom: 50px !important;
  }

  .forms {
    width: auto;
    padding-top: 15px;
  }

  .modal-title {
    padding-top: 15px;
  }



  .new-autograf {
    // display: flex;
    display: inline-block;
    // vertical-align: middle;
  }

  .new-autograf::after {
    content: '';
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    margin: 0 2px 0 4px;
    text-align: right;
  }

  .main-title {
    max-width: 290px;
    font-size: 20px;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding: 0 30px 30px 30px;
  }





  .load .new-autograf::after {
    width: 20px;
    height: 1px;
  }

  .header-contact {
    display: none;
  }

  .header-logo {
    margin-left: 15px;
    img {
      width: 125px;
    }
  }

  .header-location {
    height: 100%;
    padding: 22px 26px;
    margin-left: auto;
    a {
      text-indent: -99999px;
    }
    border-radius: 0;
    border-left: 1px solid #edebe8;;
    border-right: 1px solid #edebe8;;

    &:after {
      width: 12px;
      height: 16px;
      right: auto;
    }
  }


  .btn-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    background-color: #fff;

    span {
      height: 2px;
      background-color: #16284a;
      margin-bottom: 4px;

      // margin: 0 auto;
      &:nth-child(1) {
        width: 16px;
        transform: translateX(-50%);

      }

      &:nth-child(2) {
        width: 32px;
      }

    }



  }


  .mobile-content {
    display: block !important;
  }

  .mobile-content-center {
    // max-width: 230px;
    padding-right: 70px;

  }

  .modal-title {
    font-size: 22px;
  }

  .docs-item p {
    font-size: 12px;
  }

  .mobile__docs::after {
    transform: none !important;
  }


  .docs-item {
   padding: 30px;
  }

  .docs-list {
    flex-direction: column;
    li {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
      min-height: auto;
    }
  }

  .docs-list li:hover {
    transform: translateY(0);
  }



  .btn-inner {
    padding-top: 0;
  }

  .modal {
    overflow-y: scroll;
    height: 500px;
  }

  html {
    overflow: visible;
  }




}

@media #{$xs} { // 450px
  .skew-overlay {
    transform: skew(0);
  }

  .skew-overlay-content {
     transform: skew(0);
  }

  .a-icon {
    left: 5.2rem;
  }
}