@media #{$xl} { // 1120

  .right-col {
    width: 9rem;
    margin-right: -3rem;
  }

  .docs {
    margin-left: 1.2rem;
  }
}

@media #{$lg} { // 835px
  .docs {
    margin-left: .8rem;
  }
}

@media #{$md} { // 768px

}

@media #{$sm} { // 578px

}

@media #{$xs} { // 450px

}