//================ media queries ==============
$media-xl: 1120px;
$media-lg: 835px;
$media-md: 768px;
$media-sm: 708px;
$media-xs: 1024px;



//================ Colors ======================
$main-color: #16284A;

$pink: #e91e63;
$purple: #673ab7;
$orange: #f44336;
$yellow: #DEBFA5;
$turquoise: #00838f;
$limed-spruce: #37474f;

//============ fonts ===========================